/* Add CSS Styling */

.classy {
    font-family: Verdana, 'Dejavu Sans', sans-serif;
    background-color: rgb(231, 96, 114);
    color: rgb(18, 32, 227);

}

.cooler {
    font-size: 24px;
}

#first {
    color: rgb(11, 11, 162);
    font-size: 36px;
}

#second {
    background-color: rgb(32, 183, 32);
    font-size: 24px;
    font-weight: bold;
}